html, body, #app {
  background-color: greenyellow;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.trivia-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(150px, auto));
  grid-gap: 10px;
  outline: 1px solid blue;
}
