html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  padding: 50px;
  max-width: 900px;
  margin: 0 auto;
}

.question {
  padding: 20px 0 0 0;
  text-align: center;
}

.list {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(80px, auto));
  grid-gap: 10px;
  background-color: #fff;
}
.answerCard {
  width: 400px;
  padding: 20px 0;
  align-self: center;
  justify-self: center;
  text-align: center;
  outline: 1px solid red;
}
